@import 'variables';

nav{

    width: 95%;
    height: 100px;
    border: 1px solid green;
    display: flex;
    padding: 1rem;
    margin-top: 10%;
    border-radius: 999px;
    // align-self: center;
    // justify-self: center;
    position: fixed;
    background-color: white;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

    // tube nav soon
    // border-top-left-radius: 25%;
    // border-top-right-radius: 25%;

    // border-bottom-right-radius: 25%;
    // border-bottom-left-radius: 25%;

    .brand{
        display: flex;
        align-items: center;
        justify-content: center;
        .logo{
            img{
                width: 85px;
                aspect-ratio: 1/1;
            }
        }
    }

    .nav-menu{
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        margin-left: auto;

        .hamburger{
            i{
                font-size: 25px;
            }
        }

        a{
            text-decoration: none;
            
            .nav-item{
                color: black;
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                font-style: normal;
                font-size: 22px;
            }

            .login{
                height: 70px;
                width: 110px;
                border-radius: 450px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: black;
                color: white;
                transition: all .5s ease-in-out;
                
                &:hover{
                    background-color: transparent;
                    outline: 1px solid;
                    color: black;
                }
            }
            
        }
    }

}